*{
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.btn{
	width: 100px;
	height: 30px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	background-color: #ccc;
	cursor: pointer;
}

#wrapper{
	
}

#wrapper *{
	border: 1px #ccc solid;
}

#poolMom, #poolDad{
	width: 200px;
	height: 80%;
	position: absolute;
	top: 0;
	overflow-y: scroll;
}

#poolMom{
	left: 0;
}

#poolDad{
	right: 0;
}

	.poolPose{
		margin-top: 10px;
		margin-left: 10px;
		width:160px;
		height:160px;
	}

#preview{
	width: 600px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

	#btnCaptureL, #btnCaptureR{
	}

	#btnCaptureL{
		left: 50%;
		transform: translateX(-120%);
	}

	#btnCaptureR{
		left: 50%;
		transform: translateX(20%);
	}

#poolKid{
	width: 800px;
	height: 450px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

#btnGenerate{
	left: 50%;
	transform: translateX(-50%);
	bottom: 120px;
}

#btnRestart{
	left: 50%;
	transform: translateX(-50%);
	bottom: 80px;
}

.slr{
	width: 300px;
	height: 40px;
	position: absolute;
}

.slr label{
	width: 90px;
	display: inline-block;
}

#slrView{
	left: 50%;
	transform: translateX(-50%);
	bottom: 260px;
}

#slrInfluence{
	left: 50%;
	transform: translateX(-50%);
	bottom: 220px;
}

#slrIntensity{
	left: 50%;
	transform: translateX(-50%);
	bottom: 180px;
}

#saved{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0;
}

/*#test1, #test2{
	background: #ccc;
	border: 2px #333 solid;
	position: absolute;
}
#test2{
	margin-left: 160px;
}*/