*{
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #333;
	font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
}

.btn{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	background-color: #ccc;
	cursor: pointer;
}

#wrapper{
	
}

#wrapper *{
}

#poolMom, #poolDad{
	width: 270px;
	height: 600px;
	position: absolute;
	top: 0;
	overflow-y: scroll;
	background: #222222;
	padding: 0 20px 0 20px;
}

#poolMom::-webkit-scrollbar, #poolDad::-webkit-scrollbar {
    width: 8px;
}
#poolMom::-webkit-scrollbar-track, #poolDad::-webkit-scrollbar-track {
    background-color: transparent;
}
#poolMom::-webkit-scrollbar-thumb, #poolDad::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}
#poolMom::-webkit-scrollbar-thumb:hover, #poolDad::-webkit-scrollbar-thumb:hover {
	background-color: #777;
}

#poolMom{
	left: 0;
}

#poolDad{
	left: 1100px;
}
	.poolPoseWrap{
		margin-top: 10px;
		margin-left: 10px;
		width:114px;
		height:114px;
		border: 3px solid transparent;
	    -webkit-transition: all .5s;
	    transition: all .5s;
	    display: inline-block;
	}

	.poolPoseWrap:hover{
		border: 3px solid rgba(150,150,150,0.8);
	}

	.poolPoseWrap:hover .btnClosePose, .poolPoseWrap:hover .btnLikePose{
		opacity: 1;
	}

	.poolPose{
		width:114px;
		height:114px;
	}

	.btnClosePose, .btnLikePose{
		width: 22px;
		height: 20px;
		display: block;
		position: absolute;
		margin-left: 90px;
		opacity: 0;
	    -webkit-transition: all .5s;
	    transition: all .5s;
	    cursor: pointer;
	}

	.btnClosePose{
    	margin-top: -115px;
    	background-image: url("icon-close.svg");
    	background-size: 20px;	
    }

	.btnLikePose{
    	margin-top: -26px;
    	background-image: url("icon-heart.svg");
    	background-size: 22px;	
	}

	#poolKid .poolPoseWrap{
		width:144px;
		height:144px;
	}

	#poolKid .poolPose{
		width:144px;
		height:144px;
	}

	#poolKid .btnClosePose, #poolKid .btnLikePose{
		margin-left: 116px;
	}

	#poolKid .btnLikePose{
    	margin-top: -26px;
    	background-image: url("icon-heart.svg");
    	background-size: 22px;	
	}

#center{
	width: 800px;
	height: 600px;
	position: absolute;
	left: 300px;
	background: rgba(80,80,80,0.8);
}

#previewWrap{
	width: 500px;
	height: 560px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(80,80,80,0.8);
	padding: 20px;
}

#preview{
	width: 500px;
	height: 560px;
}
	#preview canvas{
		width: 480px;
		height: 480px;
		border: rgba(100,100,100,0.8) 4px solid;
	}

	#btnCaptureL, #btnCaptureR{
		font-size: 12px;
		bottom: 50px;
	}

	#btnCaptureL{
		left: 50%;
		transform: translateX(-110%);
	}

	#btnCaptureR{
		left: 50%;
		transform: translateX(10%);
	}

#poolKid{
	width: 490px;
	height: 560px;
	display: none;
	border: rgba(100,100,100,0.8) 4px solid;
}

#options{
	width: 260px;
	height: 600px;
	position: absolute;
	left: 540px;
	color: #fff;
	font-size: 12px;
}

	.slr{
		width: 250px;
		height: 40px;
		position: absolute;
	}

	.slr label{
		width: 80px;
		display: inline-block;
	}

	#slrView{
		left: 20px;
		top: 20px;
	}

	#slrInfluence{
		left: 20px;
		top: 50px;
	}

	#slrIntensity{
		left: 20px;
		top: 80px;
	}

	#btnGenerate, #btnRestart{
		background: #33A4EF;
		color: #fff;
		top: 120px;
	}

	#btnGenerate{
		left: 20px;
	}

	#btnRestart{
		left: 140px;
	}

#saved{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0;
}

/*#test1, #test2{
	background: #ccc;
	border: 2px #333 solid;
	position: absolute;
}
#test2{
	margin-left: 160px;
}*/